.logo {
    /* float: left; */
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.3);
  }
  .logo p {
    line-height: 30px;
    text-indent: 10px;
    color: #fff;
  }
  
  /* .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  } */
  
  .site-layout-background {
    background: #fff;
  }